.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4%;
}

.navbar .logo {
    /* font-size: 24px;
    font-weight: bold;
    color: #333; */
    width: max(10%, 80px);
}

.navbar .profile {
    width: 40px;
}